.btn{
	height: 50px;
	width: 100px;
	margin: 100px;
	color: white;
	background-color: black;
	border: none;
	border-radius: 5px;
}

.btn:hover{
	background-color: white;
	color: black;
	border: 1px solid black;
	transform: rotate(7200deg);
	transition: 20s;
	height: 70px;
	width: 70px;
	border-radius: 50%;
}